$fifty: 50px;

.up{
    height: $fifty;
    width: $fifty;
    position: fixed;
    right: $fifty; 
    bottom: $fifty; 
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 30px;
    border: solid 2px black;
}
.up:hover{
    background-color: blueviolet;
}