*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.us{
    width: 100%;
    height: auto;
    background-color: springgreen;
}
.nleft{
    height: 350px;
    width: 100%;
    background-image: url(/Multimedia/tennis-5782695_1280.jpg);
    background-position: center;
    background-size: cover;
}
.nright{
    height: auto;
    width: 100%;
    background-color: springgreen;
    padding: 20px;
}
.nright h3{
    font-size:27px;
    font-family: 'Bruno Ace SC', cursive;
    margin-bottom: 20px ;
}
.nright p{
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.bottom{
    background-color: black;
    padding: 10px 20px;
    color: aqua;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.bottom:hover{
    background-color: aqua;
    text-shadow: 0 0 5px black;
    color: black;
    transition: all 1.5s;
}


@import "_up";
@import "_nav";
@import "_footer";
@import "_galery";


@media only screen and (max-width: 768px){
    .galery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        display: block;
    }
    .item{
        height:200px ;
    }
}
@media only screen and (min-width: 768px ){
    .us{
        display: flex;
        }
    .nleft{
        width: 50%;
        }
    .nright{
        width: 50%;
        }
    }